In [1]:
import pandas as pd
df = pd.read_csv('testw209hw1.tsv', sep = '\t')

In [2]:
df.head()

    Month  Week  Steps Class
0  15-Mar     1  51388     N
1  15-Mar     2  65680     N
2  15-Mar     3  65991     N
3  15-Mar     4  49264     N
4  15-Apr     1  44496     N

In [9]:
df['MonthWeek'] = df["Month"] + '-wk' + df["Week"].map(str)

In [10]:
df.head()

    Month  Week  Steps Class   MonthWeek
0  15-Mar     1  51388     N  15-Mar-wk1
1  15-Mar     2  65680     N  15-Mar-wk2
2  15-Mar     3  65991     N  15-Mar-wk3
3  15-Mar     4  49264     N  15-Mar-wk4
4  15-Apr     1  44496     N  15-Apr-wk1

In [11]:
df1 = df[['MonthWeek', 'Steps', 'Class']]

In [12]:
df1.head()

    MonthWeek  Steps Class
0  15-Mar-wk1  51388     N
1  15-Mar-wk2  65680     N
2  15-Mar-wk3  65991     N
3  15-Mar-wk4  49264     N
4  15-Apr-wk1  44496     N

In [14]:
df1.to_csv('uniquexw209HW.tsv',index=False, sep = '\t')

In [15]:
!head -10 uniquexw209HW.tsv

MonthWeek	Steps	Class
15-Mar-wk1	51388	N
15-Mar-wk2	65680	N
15-Mar-wk3	65991	N
15-Mar-wk4	49264	N
15-Apr-wk1	44496	N
15-Apr-wk2	64845	N
15-Apr-wk3	62070	N
15-Apr-wk4	62909	N
15-May-wk1	71843	N

In [16]:
df1.shape

(124, 3)