In [1]:
import pandas as pd
import sys
sys.version

'2.7.13 |Anaconda 4.4.0 (x86_64)| (default, Dec 20 2016, 23:05:08) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]'

In [2]:
hr = pd.read_csv('HR-Employee-Attrition-Dataset.csv')

In [3]:
hr.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,94,...,Y,Yes,11,3,1,80,8,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,61,...,Y,No,23,4,4,80,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,Male,92,...,Y,Yes,15,3,2,80,7,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,56,...,Y,Yes,11,3,3,80,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,Male,40,...,Y,No,12,3,4,80,6,2,2,2

In [4]:
hr.columns

Index([u'Age', u'Attrition', u'BusinessTravel', u'Department',
       u'DistanceFromHome', u'Education', u'EducationField',
       u'EnvironmentSatisfaction', u'Gender', u'HourlyRate', u'JobInvolvement',
       u'JobLevel', u'JobRole', u'JobSatisfaction', u'MaritalStatus',
       u'MonthlyIncome', u'MonthlyRate', u'NumCompaniesWorked', u'Over18',
       u'OverTime', u'PercentSalaryHike', u'PerformanceRating',
       u'RelationshipSatisfaction', u'StandardHours', u'TotalWorkingYears',
       u'YearsInCurrentRole', u'YearsSinceLastPromotion',
       u'YearsWithCurrManager'],
      dtype='object')